apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  annotations:
    cozystack.io/tenant-config-digest: sha256:dcd2bae8b341c2be896d007f83ec82ae51b682251fb1efa37af0966c485a715c
    meta.helm.sh/release-name: kubernetes-harvey
    meta.helm.sh/release-namespace: tenant-test
    reconcile.fluxcd.io/forceAt: "2025-12-06T14:11:25.724991034Z"
    reconcile.fluxcd.io/requestedAt: "2025-12-06T14:11:25.724991034Z"
  labels:
    app.kubernetes.io/managed-by: Helm
    cozystack.io/repository: system
    cozystack.io/target-cluster-name: kubernetes-harvey
    helm.toolkit.fluxcd.io/name: kubernetes-harvey
    helm.toolkit.fluxcd.io/namespace: tenant-test
  name: kubernetes-harvey-ingress-nginx
  namespace: tenant-test
spec:
  chart:
    spec:
      chart: cozy-ingress-nginx
      reconcileStrategy: Revision
      sourceRef:
        kind: HelmRepository
        name: cozystack-system
        namespace: cozy-system
      version: '>= 0.0.0-0'
  dependsOn:
  - name: kubernetes-harvey
    namespace: tenant-test
  - name: kubernetes-harvey-cilium
    namespace: tenant-test
  install:
    createNamespace: true
    remediation:
      retries: -1
  interval: 5m
  kubeConfig:
    secretRef:
      key: super-admin.svc
      name: kubernetes-harvey-admin-kubeconfig
  releaseName: ingress-nginx
  storageNamespace: cozy-ingress-nginx
  targetNamespace: cozy-ingress-nginx
  timeout: 10m
  upgrade:
    force: true
    remediation:
      retries: -1
  values:
    ingress-nginx:
      controller:
        hostNetwork: true
        kind: DaemonSet
        service:
          enabled: false
      fullnameOverride: ingress-nginx
      nodeSelector:
        node-role.kubernetes.io/ingress-nginx: ""
