apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  annotations:
    cozystack.io/tenant-config-digest: sha256:d8cbfb5758df25a7b9a7c515fe5c79d11d98efd7971966f327d4d27275de11bb
    meta.helm.sh/release-name: tenant-root
    meta.helm.sh/release-namespace: tenant-root
    reconcile.fluxcd.io/forceAt: "2025-12-06T14:09:49.520674176Z"
    reconcile.fluxcd.io/requestedAt: "2025-12-06T14:09:49.520674176Z"
  labels:
    cozystack.io/ui: "true"
    internal.cozystack.io/tenantmodule: "true"
  name: ingress
  namespace: tenant-root
spec:
  chart:
    spec:
      chart: ingress
      reconcileStrategy: Revision
      sourceRef:
        kind: HelmRepository
        name: cozystack-extra
        namespace: cozy-public
      version: '>= 0.0.0-0'
  install:
    remediation:
      retries: -1
  interval: 5m
  timeout: 10m
  upgrade:
    remediation:
      retries: -1
