apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  annotations:
    cozystack.io/tenant-config-digest: sha256:a22b2a6d39d409290389d37ac5a3b65b6ceac16b504d3340679e390d14545fc2
    meta.helm.sh/release-name: ingress
    meta.helm.sh/release-namespace: tenant-root
    reconcile.fluxcd.io/forceAt: "2025-11-28T20:44:52.68559226Z"
    reconcile.fluxcd.io/requestedAt: "2025-11-28T20:44:52.68559226Z"
  labels:
    app.kubernetes.io/managed-by: Helm
    helm.toolkit.fluxcd.io/name: ingress
    helm.toolkit.fluxcd.io/namespace: tenant-root
  name: ingress-nginx-system
  namespace: tenant-root
spec:
  chart:
    spec:
      chart: cozy-ingress-nginx
      reconcileStrategy: Revision
      sourceRef:
        kind: HelmRepository
        name: cozystack-system
        namespace: cozy-system
      version: '>= 0.0.0-0'
  install:
    remediation:
      retries: -1
  interval: 5m
  timeout: 10m
  upgrade:
    force: true
    remediation:
      retries: -1
  values:
    ingress-nginx:
      controller:
        ingressClass: tenant-root
        ingressClassResource:
          controllerValue: k8s.io/ingress-nginx-tenant-root
          name: tenant-root
        podLabels:
          cozystack.io/service: ingress
          policy.cozystack.io/allow-to-apiserver: "true"
        replicaCount: 2
        resources:
          limits:
            cpu: 500m
            ephemeral-storage: 2Gi
            memory: 256Mi
          requests:
            cpu: "0.05"
            ephemeral-storage: "53687091"
            memory: "268435456"
        service:
          externalTrafficPolicy: Local
          type: LoadBalancer
      fullnameOverride: root-ingress
